<!DOCTYPE html>
<html>
<head>
<style>
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: red;
}


body  { font-size: 100%;
    
}
</style>
</head>

<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/segment7" type="text/css"/>

<body onload="startTime()" bgcolor="black" style="color: white;">
  <div style="">
  
    <div style="background-color: black; font-family:'Segment7Standard';font-style: italic; font-size:20px; font-size: 30vw; color: red; text-align: center;" id="txt"></div>

    <div style="">
      <a href="/timerstart" target="myIframe">Start</a>
      <a href="/pause" target="myIframe">Pause</a>
      Choose count down time in minutes:
      <a href="/parametri?time=3600" target="myIframe">60</a>
      <a href="/parametri?time=2700" target="myIframe">45</a>
      <a href="/parametri?time=1800" target="myIframe">30</a>
      <a href="/parametri?time=1200" target="myIframe">20</a>
      <a href="/parametri?time=900" target="myIframe">15</a>
      <a href="/parametri?time=600" target="myIframe">10</a>
      <a href="/parametri?time=300" target="myIframe">5</a>
      <a href="/parametri?time=180" target="myIframe">3</a>
      <a href="/parametri?time=120" target="myIframe">2</a>
      <a href="/parametri?time=60" target="myIframe">1</a>
      or set your own:


      <input id="numb2" style="font-size: 100%;" maxlength="4" size="4" >
      <button type="button" style="font-size: 100%;" onclick="openInput()">Set time</button>
  </div>

    <p id="demo"></p>

    
    Show: 
    <a href="/getready" target="myIframe">Timer</a> or 
    <a href="/showtime" target="myIframe">Clock</a><br>
      
  

<br><br>
    
    <iframe style="border-style: none;" src="/time" name = "myIframe"></iframe>

    
</div>
<script>

function startTime() {

    //var status = getStatus();
    status = "2";
    
    if (status =="0") {
     var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      m = checkTime(m);
      s = checkTime(s);
      document.getElementById('txt').innerHTML = h + ":" + m ;
    }
    else {
      var timeleft = readTime();
      var timeleftM = timeleft/60;
      timeleftM=  Math.floor(timeleftM);
      var timeleftS = timeleft - timeleftM*60;
      timeleftS=  Math.floor(timeleftS);

      timeleftM = checkTime(timeleftM);
      timeleftS = checkTime(timeleftS);
      document.getElementById('txt').innerHTML =""+ timeleftM +":" + timeleftS ;
    }

    var t = setTimeout(startTime, 500);  

}


function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}

function readTime(){

var oRequest = new XMLHttpRequest();
var sURL = "/time";

oRequest.open("GET",sURL,false);
oRequest.setRequestHeader("Accept",navigator.userAgent);
oRequest.send(null)
return oRequest.responseText;

}

function getStatus(){

var oRequest = new XMLHttpRequest();
var sURL = "/status";

oRequest.open("GET",sURL,false);
oRequest.setRequestHeader("Accept",navigator.userAgent);
oRequest.send(null)
return oRequest.responseText;

}


function openInput() {



    var x, text;

    // Get the value of the input field with id="numb"
    x = document.getElementById("numb2").value;

    // If x is Not a Number or less than one or greater than 10
    if (isNaN(x) || x < 1 || x > 99) {
        text = "Input not valid"; 
    } else {
        text = "";
        x = x*60;
        window.open("/parametri?time="+ x ,"myIframe");
    }
    document.getElementById("demo").innerHTML = text;
}



</script>
</body>
</html>